body{
    background-color: black;
    display:flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button{
    background-color: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: 20px;
    border: 3px solid purple;
}

button:hover{
    background-color: transparent;
    color: yellow;
    border: 3px solid purple;
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    transition: all 300ms linear;
}